In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib

%matplotlib inline

# 1. 시계열 데이터 타입  (datetime)

In [2]:
from datetime import datetime

In [5]:
now = datetime.now()
now

datetime.datetime(2020, 7, 22, 16, 35, 52, 858112)

In [8]:
now.month

7

<img src="img/예제실습/datetime.jpg" alt="datetime" style="width: 1200px;"/>

## 1.1 timedelta 를 활용한 시간 계산

In [9]:
from datetime import timedelta

In [16]:
now + timedelta(days=15)
# weeks, days, hours, minutes, seconds, milliseconds, microseconds

datetime.datetime(2020, 8, 6, 16, 35, 52, 858112)

In [18]:
datetime.now() - now

datetime.timedelta(0, 214, 931000)

In [19]:
# 현재 시간보다 ~ 후의 시간을 계산
now + timedelta(weeks = 3, days = 20, hours = 3)

datetime.datetime(2020, 9, 1, 19, 35, 52, 858112)

In [21]:
first = datetime(year = 2020, month = 5, day = 10)
first + timedelta(days = 100)

datetime.datetime(2020, 8, 18, 0, 0)

In [22]:
target_day = datetime(year = 2020, month = 10, day = 30)
target_day - datetime.now()

datetime.timedelta(99, 25971, 545898)

## 1.2 편리한 색인

In [24]:
import random
sample = DataFrame()

In [25]:
sample['날짜'] = pd.date_range(start = '20200701', periods = 180).tolist()
sample['사용자수'] = random.sample(range(1, 1000), 180)
sample

            날짜  사용자수
0   2020-07-01   662
1   2020-07-02   615
2   2020-07-03   470
3   2020-07-04   757
4   2020-07-05   942
..         ...   ...
175 2020-12-23   649
176 2020-12-24   716
177 2020-12-25   407
178 2020-12-26   559
179 2020-12-27   130

[180 rows x 2 columns]

In [28]:
# 9월 달 데이터만 조회
sample[(sample.날짜 > '2020-09-01')  & (sample.날짜 <= '2020-09-30')]

           날짜  사용자수
63 2020-09-02   444
64 2020-09-03    95
65 2020-09-04   825
66 2020-09-05   633
67 2020-09-06   722
68 2020-09-07   778
69 2020-09-08   592
70 2020-09-09   110
71 2020-09-10   999
72 2020-09-11    82
73 2020-09-12   557
74 2020-09-13   792
75 2020-09-14   410
76 2020-09-15   458
77 2020-09-16   723
78 2020-09-17   611
79 2020-09-18   705
80 2020-09-19   774
81 2020-09-20   343
82 2020-09-21   206
83 2020-09-22   234
84 2020-09-23   241
85 2020-09-24   472
86 2020-09-25    58
87 2020-09-26   161
88 2020-09-27   924
89 2020-09-28   589
90 2020-09-29   369
91 2020-09-30    37

In [29]:
# 두 번째 방법
sample[sample.날짜.isin(  pd.date_range(start = '20200901', end = '20200930')  )]

           날짜  사용자수
62 2020-09-01   118
63 2020-09-02   444
64 2020-09-03    95
65 2020-09-04   825
66 2020-09-05   633
67 2020-09-06   722
68 2020-09-07   778
69 2020-09-08   592
70 2020-09-09   110
71 2020-09-10   999
72 2020-09-11    82
73 2020-09-12   557
74 2020-09-13   792
75 2020-09-14   410
76 2020-09-15   458
77 2020-09-16   723
78 2020-09-17   611
79 2020-09-18   705
80 2020-09-19   774
81 2020-09-20   343
82 2020-09-21   206
83 2020-09-22   234
84 2020-09-23   241
85 2020-09-24   472
86 2020-09-25    58
87 2020-09-26   161
88 2020-09-27   924
89 2020-09-28   589
90 2020-09-29   369
91 2020-09-30    37

In [32]:
# 세 번째 방법: 날짜 컬럼을 row index로 변환 후 색인
sample2 = sample.set_index('날짜')
sample2['2020-09']

            사용자수
날짜
2020-09-01   118
2020-09-02   444
2020-09-03    95
2020-09-04   825
2020-09-05   633
2020-09-06   722
2020-09-07   778
2020-09-08   592
2020-09-09   110
2020-09-10   999
2020-09-11    82
2020-09-12   557
2020-09-13   792
2020-09-14   410
2020-09-15   458
2020-09-16   723
2020-09-17   611
2020-09-18   705
2020-09-19   774
2020-09-20   343
2020-09-21   206
2020-09-22   234
2020-09-23   241
2020-09-24   472
2020-09-25    58
2020-09-26   161
2020-09-27   924
2020-09-28   589
2020-09-29   369
2020-09-30    37

In [33]:
sample2['2020-8' : '2020-10']

            사용자수
날짜
2020-08-01   321
2020-08-02   838
2020-08-03   682
2020-08-04     3
2020-08-05    40
...          ...
2020-10-27   636
2020-10-28   671
2020-10-29   773
2020-10-30   471
2020-10-31   507

[92 rows x 1 columns]

In [34]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      180 non-null    datetime64[ns]
 1   사용자수    180 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.9 KB

In [35]:
sample2.info()
# DatetimeIndex

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 180 entries, 2020-07-01 to 2020-12-27
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용자수    180 non-null    int64
dtypes: int64(1)
memory usage: 7.8 KB

## 1.3 함수 사용  1 - strftime()으로 날짜 타입의 변수를 문자열로 변환하기

In [41]:
now.strftime('%Y-%m-%d')

'2020-07-22'

## 1-3 함수 사용 2 - strptime()으로 문자열을 날짜 타입으로 변환하기

In [47]:
string = '2020/12/25'
type(string)

str

In [49]:
datetime.strptime(string, '%Y/%m/%d')

datetime.datetime(2020, 12, 25, 0, 0)

### (실습 #1) 아래 df에서 2019년 7월 데이터만 선택하기

In [80]:
df = DataFrame({'date':['20190701','20190702', '20190705', '20190710', '20190723', 
                        '20190724','20190728', '20190805', '20190810', '20190823'],
                'value':random.sample(range(1, 100), 10)
})
df

       date  value
0  20190701     41
1  20190702      8
2  20190705     59
3  20190710     22
4  20190723     75
5  20190724     66
6  20190728     64
7  20190805     28
8  20190810     94
9  20190823     55

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   value   10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [82]:
# date 컬럼의 타입을 datetime 으로 변환
# 첫 번째 방법: to_datetime() 함수 이용
df['date2'] = pd.to_datetime(df['date'], format = '%Y%m%d')

In [83]:
# 두 번째 방법: astype() 함수 이용
df['date3'] = df.date.astype('datetime64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   value   10 non-null     int64
 2   date2   10 non-null     datetime64[ns]
 3   date3   10 non-null     datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 448.0+ bytes

In [84]:
# 세 번째 방법: strptime() 함수 이용
df['date4'] = df.date.apply(  lambda X: datetime.strptime(X, '%Y%m%d')  )
# datetime.strptime(df['date'], '%Y%m%d')

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   value   10 non-null     int64
 2   date2   10 non-null     datetime64[ns]
 3   date3   10 non-null     datetime64[ns]
 4   date4   10 non-null     datetime64[ns]
dtypes: datetime64[ns](3), int64(1), object(1)
memory usage: 528.0+ bytes

In [87]:
Q1 = df.sort_values('date').set_index('date')
Q1['2019-07']

KeyError: '2019-07'

## Tip. Week와 요일 정보 얻기(strftime)

In [ ]:
# 심화 - Week와 요일 정보 얻기
# 참고 사이트 : https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

# %U : week number (sunday to monday) (e.g. 00, 01, ...53)
# %V : ISO 8601 week number (monday to sunday) (e.g. 01, 02, ... 53)
...
# %a : weekday (Sun, Mon, ..) 
# %w : weekday (0,1,2,3,...) (0 = Sunday)

### (실습 #2) df에  week number(%V), weekday(%w) 컬럼 추가

In [70]:
Q2 = df.sort_values('date')
Q2['week'] = Q2.date.strftime('%V')

AttributeError: 'Series' object has no attribute 'strftime'

In [69]:
Q2['date'][0].strftime('%V')

'27'

### (실습 #3-1) 주차별 value 컬럼의 합 구하기

### (실습 #3-2) 요일별 value 컬럼의 합 구하기

## 2. 푸드코트 주문 데이터 분석

In [ ]:
# 데이터 읽기
식당 = pd.read_excel('data/food_order.xlsx')

In [ ]:
# 'date' 컬럼을 index label로 지정

In [ ]:
# 데이터 탐색 - 수집 기간

In [ ]:
# 데이터 탐색 - 수집 기간 동안 누락 없이 데이터가 수집되었는지 확인

In [ ]:
# 데이터 탐색 - corner 별 수집횟수 확인

#### (실습 #4) 날짜 색인
- 1) 2014년 데이터만 선택하여 출력
- 2) 2015년 1월 데이터만 선택하여 출력
- 3) 2014년 8월 1일부터 2014년 9월 25일까지 데이터만 출력
- 4) 2015년 6월 30일 데이터만 출력

### date_range()를 활용한 고급 기법
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In [ ]:
# 특정 기간의 날짜 생성

In [ ]:
# start 날짜를 기준으로 periods 갯수만큼 날짜 생성

In [ ]:
#특정 주기로 날짜를 생성 - freq 인자
# 상세 내용은 https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries-offset-aliases 확인



# D: 일단위
# W: 주 단위 (일요일만 선택)
# W-MON: 주 단위이되, 월요일만 선택
# W-TUE: 주 단위이되, 화요일만 선택. WED, THU, FRI, SAT, SUN 모두 가능
# M: 매달 마지막날만 선택
# MS: 매달 첫째날만 선택
# B: 주중만 선택 (Business day)

#### (실습 #5 - date_range()) 식당 데이터 중 월요일 데이터만 선택하여 출력

## (실습 #6) 푸드코트 데이터 분석
- 1) 전체 기간 동안, 가장 많은 판매량을 올렸던 날 찾기
- 2) 전체 기간 동안, 아침, 점심, 저녁 메뉴로 가장 인기 있었던 메뉴를 각각 착기
- 3) 2014년 한 해 동안, 각 코너 별  월별 판매량을 그래프로 시각화하기
- 4) 매진을 가장 많이 기록한 상위 10개 메뉴와 매진횟수를 출력
- 5) 2014년도에 가장 많이 팔린 상위 10개 메뉴 구하기
- 6) 5)에서 구한 상위 10개 메뉴에 대한 월별 판매 추이 그래프 그리기 (하루 평균 판매량)
- 7) 5)에서 구한 상위 10개 메뉴에 대한 분기별 판매 추이 그래프 그리기 (하루 평균 판매량)

### 6-1) 전체 기간 동안, 가장 많은 판매량을 올렸던 날 찾기

### 6-2) 전체 기간 동안, 아침, 점심, 저녁 메뉴로 가장 인기 있었던 메뉴를 각각 착기

### 6-3) 2014년 한 해 동안, 각 코너 별  월별 판매량을 그래프로 시각화하기

### 6-4) 매진을 가장 많이 기록한 상위 10개 메뉴와 매진횟수를 출력

### 6-5) 2014년도에 가장 많이 팔린 상위 10개 메뉴 구하기

### 6-6) 5)에서 구한 상위 10개 메뉴에 대한 월별 판매 추이 그래프 그리기 (하루 평균 판매량)

### 6-7) 5)에서 구한 상위 10개 메뉴에 대한 분기별 판매 추이 그래프 그리기 (하루 평균 판매량)