# 파이썬의 과학기술 분야 Ecosystem
<img src="img/1강/파이썬과학기술라이브러리.jpg" alt="datetime" style="width: 1200px;"/>
# 1. Pandas 소개
<img src="img/1강/6pandas소개.jpg" alt="datetime" style="width: 1200px;"/>
# [ Pandas API 공식 문서 ]
## http://pandas.pydata.org/pandas-docs/stable/api.html

# 2. Pandas 주요 데이터 타입

## 2.1. Series (시리즈)
<img src="img/1강/Series소개.jpg" alt="datetime" style="width: 1200px;"/>

In [10]:
import pandas as pd
# from pandas import Series

## 2.1.1 Series 생성

In [11]:
data1 = pd.Series([3,5,1,2])
data1

0    3
1    5
2    1
3    2
dtype: int64

In [24]:
data.values

array([100,  47,  63,  32,   3,  84,  96,  98,  54,  35,  39,  95,  24,
        27,   9,  21,  85,  60,  83,  11,  81,  72,  44,  10,  26,  40],
      dtype=int64)

In [22]:
type(data.values)

numpy.ndarray

In [23]:
data1.index

RangeIndex(start=0, stop=4, step=1)

In [25]:
type(data1.index)

pandas.core.indexes.range.RangeIndex

In [27]:
# 값에는 모든 데이터 타입 가능
data2 =  Series(['big data',20,[1,2,3]])
data2

0     big data
1           20
2    [1, 2, 3]
dtype: object

In [31]:
# 인덱스명 변경
data2.index = ['강의명','수강생','비고']
data2

강의명     big data
수강생           20
비고     [1, 2, 3]
dtype: object

In [33]:
# 순번으로 접근
data2[1]

20

In [34]:
# 인덱스명으로 접근
data2['수강생']

20

In [36]:
# 딕셔너리로 시리즈 생성
data3 = Series({ 'a':1,
                'b':3,
                'c':50
    
                
})
data3

a     1
b     3
c    50
dtype: int64

In [38]:
# Values of List type, Index 인자를 사용하여 Series 생성
data4 = Series([10,20,30,40,50],
              index=['a','b','c','d','e'])
data4

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [40]:
data4 + 60

a     70
b     80
c     90
d    100
e    110
dtype: int64

In [ ]:
data4[0]

## 2.2.2. Series 색인

# 인덱스 슬라이싱 (숫자 인덱스)
<img src="img/1강/3문자열슬라이싱.jpg" alt="datetime" style="width: 800px;"/>

### 1) :을 기점으로 왼쪽에 start index, 오른쪽에 end index 지정
### 2) start index 보다 크거나 같고, end index보다 작은 항목을 선택
### 3) 예를 들어, a[2:5]는 a[[2,3,4]]와 동일
### 4) start index와 end index는 생략 가능하며, 생략 시 start index는 첫 인덱스, end index는 끝 인덱스로 지정됨.
### 5) 음수 인덱스는 끝에서 시작되는 역인덱스임.

# 조건을 활용한 인덱스 선택 (조건 색인)
# 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인.jpg" alt="datetime" style="width: 1000px;"/>

## 2.2.3. Series 속성 조회 및 주요 함수
<img src="img/1강/Series주요속성및함수.jpg" alt="datetime" style="width: 1000px;"/>

### 속성 (Attributes)

### 주요 함수

=============================================================
# 실습 문제

In [12]:
import random
from pandas import Series

In [15]:
# 실습 데이터 생성
sample = random.sample(range(1,101),26) # 1~100사이의 값을 26개 생성하여 list로 반환
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    100
B     47
C     63
D     32
E      3
F     84
G     96
H     98
I     54
J     35
K     39
L     95
M     24
N     27
O      9
P     21
Q     85
R     60
S     83
T     11
U     81
V     72
W     44
X     10
Y     26
Z     40
dtype: int64

In [18]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data.loc['K']

39

In [21]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
data.loc['A']

100

In [ ]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력

In [ ]:
# 4) 뒤에서 5개 항목 출력

In [ ]:
# 5) data의 항목의 갯수를 출력

In [ ]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.

In [ ]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력

In [ ]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX